<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create New Record</h4>
    <button type="button" class="btn-close" aria-label="Close" ></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <label >Name</label>
      <div class="input-group">
        <input #name class="form-control">
      </div>
    </div>

  </div>

<div class="model-footer">
  <button type="button" class="btn btn-outline-dark" > Save</button>
</div>
<button ngTooltip="create new record" class="btn btn-primary"  >Add New</button>
</ng-template>
