<!--<app-header></app-header>-->
<!--<app-header></app-header>-->
<!--<app-header></app-header>-->
<!--<app-customer></app-customer>-->
<!--<app-supplier></app-supplier>-->
<!--<app-associate></app-associate>-->
<!--<app-register></app-register>-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->


<!--<button class="btn btn-primary" (click)="GetData(1000)">Click me</button>-->
<!--<br>-->
<!--<button class="btn btn-primary" (click)="GetData('Angular')">Click me</button>-->
<!--<br>-->
<!--<br>-->
<!--<input (keyup)="GetData('ANGULAR')" placeholder="Enter the text">-->
<!--<br>-->
<!--<input (keydown)="GetData('ANGULAR')" placeholder="Enter the text">-->
<!--<br>-->
<!--<input #name (blur)="GetData(name.value)" placeholder="Enter the text">-->
<!--<h2>The ares of square is {{length * length}}</h2>-->
<!--<h2>The ares of rectangular is {{length * b}}</h2>-->
<!--<h2>{{length>b}}</h2>-->
<!--<h2>{{length==b}}</h2>-->

<!--&lt;!&ndash; Errors&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{title='test'}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{length++}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{length&#45;&#45;}}</h1>&ndash;&gt;-->
<!--<app-statues></app-statues>-->


<!--<h1 [style.color]="color" [style.font-size]="fontsize" (mouseover)="GetData('ANGULAR')">{{title}}</h1>-->
<!--<input [disabled]="itemdisabled">-->
<!--<br>-->
<!--<input disabled="{{itemdisabled}}">-->
<!--<h1 *ngIf="isspecial">{{title}}</h1>-->
<!--<h1 appFontchange>{{title}}</h1>-->
<!--<h2 [ngClass]="isspecial?classname:''">Testing with Ngclass</h2>-->
<!--<br>-->
<!--<h2 class="{{classname}}">Testing with Ngclass</h2>-->
<!--<h2 [ngStyle]="style">Testing Ngstyle</h2>-->

<!--<input (change)="datachange()" [ngModel]="inputvalue"/>-->

<!--<ul>-->
<!--  <li *ngFor="let item of country">{{item}}</li>-->
<!--</ul>-->

<!--<ul *ngFor="let  item of people" [ngSwitch]="item.country">-->
<!--  <li *ngSwitchCase="'Yemen'" class="text-success">-->
<!--    {{item.name}}{{item.country}}-->
<!--  </li>-->
<!--  <li *ngSwitchCase="'Aden'" class="text-warning">-->
<!--    {{item.name}}{{item.country}}-->
<!--  </li>-->
<!--  <li *ngSwitchDefault class="text-primary">-->
<!--    {{item.name}}{{item.country}}-->
<!--  </li>-->

<!--</ul>-->


<h1>Welcom to our program</h1>
<app-popup></app-popup>

<table style="width: 50%" class="table, th, td">
  <thead>
  <th>Name</th>
  <th>Mark</th>
  </thead>
  <tbody>
  <tr *ngFor="let item of userlist">
    <td>{{item.Name}}</td>
    <td>{{item.Mark}}</td>
  </tr>
  </tbody>
</table>

<ul>
  <li *ngFor="let item of emplist">
    {{item.name}} - ({{item.id}})
  </li>

</ul>

<router-outlet></router-outlet>







