<!--<app-header></app-header>-->
<!--<app-header></app-header>-->
<!--<app-header></app-header>-->
<!--<app-customer></app-customer>-->
<!--<app-supplier></app-supplier>-->
<!--<app-associate></app-associate>-->
<!--<app-register></app-register>-->
<!--<app-login></app-login>-->
<!--<app-register></app-register>-->


<!--<button class="btn btn-primary" (click)="GetData(1000)">Click me</button>-->
<!--<br>-->
<!--<button class="btn btn-primary" (click)="GetData('Angular')">Click me</button>-->
<!--<br>-->
<!--<br>-->
<!--<input (keyup)="GetData('ANGULAR')" placeholder="Enter the text">-->
<!--<br>-->
<!--<input (keydown)="GetData('ANGULAR')" placeholder="Enter the text">-->
<!--<br>-->
<!--<input #name (blur)="GetData(name.value)" placeholder="Enter the text">-->
<!--<h2>The ares of square is {{length * length}}</h2>-->
<!--<h2>The ares of rectangular is {{length * b}}</h2>-->
<!--<h2>{{length>b}}</h2>-->
<!--<h2>{{length==b}}</h2>-->

<!--&lt;!&ndash; Errors&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{title='test'}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{length++}}</h1>&ndash;&gt;-->
<!--&lt;!&ndash;<h1>{{length&#45;&#45;}}</h1>&ndash;&gt;-->
<!--<app-statues></app-statues>-->


<!--<h1 [style.color]="color" [style.font-size]="fontsize" (mouseover)="GetData('ANGULAR')">{{title}}</h1>-->
<!--<input [disabled]="itemdisabled">-->
<!--<br>-->
<!--<input disabled="{{itemdisabled}}">-->
<h1>{{title}}</h1>
<app-test1></app-test1>
