<h1>{{title | uppercase}}</h1>
<h1>{{title | lowercase}}</h1>
<h1>{{Amount}}</h1>
<h1>{{Amount | currency}}</h1>
<h1>{{Amount | currency : 'INR'}}</h1>
<h1>{{Amount | currency : 'EUR'}}</h1>
<h1>{{Amount | number }}</h1>
<h1>{{Amount | number : "1.1-1"}}</h1>
<h1>{{currentdate}}</h1>
<h1>{{currentdate |date}}</h1>
<h1>{{currentdate |date : "dd/MM/yyyy"}}</h1>
<h1>{{currentdate |date : "dd/MMM/yyyy"}}</h1>
<h1>{{perecentdata | percent}}</h1>
<h1>{{title | slice : 0:5}}</h1>
<h1>{{jsonobject |json}}</h1>
<h1>{{Amount | sngsdk}}</h1>
<h1>{{Amount | sngsdk : sgdrate}}</h1>
